<!DOCTYPE html>
<html>
<head>
    <title>支付宝支付</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../images/favicon.png" />
    <link href="../../css/spinkit.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/util.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">    
</head>
<body>
    <div class="limiter">
    <div class="container-login100">
        <div class="sk-double-bounce" id="preview-area" style="display:block">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
        <div class="wrap-login100" style="display:none">
            <form class="login100-form" action="#">
                <span class="login100-form-title p-b-26">
                    支付<%= money %>元
                </span>
                <!-- <span class="login100-form-title p-b-48">
                    
                </span> -->
                <div class="p-b-26" id="qrcode" style="margin-left: 12px;"></div>
                <p style="float:right">请使用支付宝扫描二维码</p>

            </form>
        </div>
	</div>
    </div>
</body>
<script src="../../jquery-3.2.1.min.js"></script>
<script src="../../vendor/animsition/js/animsition.min.js"></script>
<script src="../../popper.min.js"></script>
<script src="../../bootstrap.min.js"></script>
<script src="../../qrcode.min.js"></script>
<script>
(function ($) {
    "use strict";
    window.getAjax=function getAjax(_url, data, callback) {
        if (typeof data ==='function') {
            callback =data;
            data=null;
        }
        if (!callback) callback=function(){};
        var addr=_url;
        $.ajax({
            type: "POST",
            url: addr,
            dataType: "JSON",
            data: data,
            timeout:30000,
            success: function (chunk) {
                if (chunk.err) return callback(chunk.err, chunk);
                return callback(null, chunk);
            },
            error: function (e) {
                callback(e);
            }
        })
    }

    window.errstr=function(e) {
        if (typeof e=='string') return e;
        if (typeof e=='object') {
            var err=e.message||e.msg||e.statusText;
            if (err) return err;
            return e.toString();
        }
        return e;
    }
    window.showerr=function(e) {
        console.log(e);
    }

    window.mobileAndTabletcheck = function() {
        var check = false;
        (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
        return check;
    };
    $(()=>{
        var params = {orderid:'<%= orderid%>', money:<%= money %>};
        var retryNum=0;
        function handleQR(err, ret) {
            if (err) {
                if (err=='签名错误') return alert(err);
                showerr(err);
                retryNum++;
                if (retryNum>2) return alert('提供方无法完成订单');
                return getAjax('./doOrder', params, handleQR);
            }
            if (mobileAndTabletcheck()) {
                location.href=ret.message;
                return;
            }
            var qrcode = new QRCode("qrcode", {
                text: ret.message,
                width: 256,
                height: 256,
                colorDark : "#333",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
            $('.wrap-login100').toggle();
            $('.sk-double-bounce').toggle();
        }
        getAjax('./doOrder', params, handleQR);
    })
})(jQuery)

</script>
</html>